.mytable-item {
    transition: all 0.5s;
  }
  .mytable-item > * {
    transition: all 0.5s;
    overflow: hidden;
  }
  .mytable-enter {
    opacity: 0;
  }
  .mytable-enter-active {
    opacity: 0;
  }
  .mytable-enter-to {
    opacity: 0;
    background-color: green;
  }
  .mytable-enter > * {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }